# IntelliJ
.idea/
*.iml
*.eml

# MacBook
.DS_Store

# Maven
**/target/
/target
.classpath
.settings
/.project

dump.xml
/antioch-server.jar
/antioch-data*
/antioch-server/*.flightcontrol
*.jfr
/.metadata/
