# IntelliJ
.idea/
*.iml
*.eml

# MacBook
.DS_Store

# Maven
**/target/
/target
.classpath
.settings
/.project

dump.xml
/alexandria-server.jar
/alexandria-data*
/alexandria-server/*.flightcontrol
*.jfr
