# Atlassian
atlassian-ide-plugin.xml

# IntelliJ
.idea/
*.iml

# Maven
**/target/

# eclipse
.classpath
.settings/

# maven modules
alexandria-acceptance-tests/
alexandria-main/
alexandria-server/
alexandria-site/
alexandria-webapp/
