<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="nl.knaw.huygens.alexandria" level="TRACE"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>