<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <description>Alexandria Text Annotation Repository (REST)</description>
  <display-name>Alexandria Text Annotation Repository (REST)</display-name>

  <!-- <servlet> <servlet-name>alexandria</servlet-name> <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
    <init-param> <param-name>javax.ws.rs.Application</param-name> <param-value>nl.knaw.huygens.alexandria.jersey.AlexandriaApplication</param-value> 
    </init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
    <servlet-name>alexandria</servlet-name> <url-pattern>/*</url-pattern> </servlet-mapping> -->

  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventor</listener-class>
  </listener>
</web-app>