/* Huygens ING extension to Concordion CSS (gleaned from https://github.com/Pragmatists/OpenTrapp) */

.json, .xml {
	padding: 0;
}

code {
	background-color: #f5f5f5;
	color: #333;
	padding-top: 4px;
}

code.success {
	background-color: #afa;
	color: #363;
}

code.failure .actual {
	color: #bb5050;
}

code.failure {
  	padding: 2px 4px;
  	padding-top: 4px;
  	color: #bb5050;
}

code.get:before,
code.post:before,
code.put:before,
code.delete:before,
code.patch:before,
code.location:before {
	font-weight: bold;
	margin-right: 0.5em;
}

code.get:before {
	content: 'GET';
}
code.post:before {
	content: 'POST';
}
code.put:before {
	content: 'PUT';
}
code.delete:before {
	content: 'DELETE';
}
code.patch:before {
	content: 'PATCH';
}

code.set-header:before, code.header:before {
	content: attr(name) ': ';
}

span.success {
	padding: 2px 4px;
}

pre {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table th {
	background-color: transparent;
}

.table th, .table td {
  border: inherit;
}

.examples {
    overflow: hidden;
}

.example {
    /*float: left;*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 580px;
}

.example ul {
    padding-left: 20px;
    list-style-type: none;
}

.example ul ul {
    list-style-type: disc;
}

.example ol {
    list-style-type: lower-roman;
}

.example th {
    min-width: 160px;
}

.example pre {
    padding-left: 16px;
    padding-right: 16px;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #AAAAAA;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    color: #FFFFFF;
}

.page-header h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.page-header p {
    font-size: 12px;
    margin: 0;
}

body {
    padding-top: 70px;
}

.hide {
    display: none;
}